// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #4caf50; // A natural green for primary actions
$secondary: #8d6e63; // Earthy brown for secondary actions
$accent: #ff9800; // Bright orange for highlights and accents

$dark: #2e2e2e; // Dark gray for dark mode
$dark-page: #1b1b1b; // Slightly darker for page backgrounds in dark mode

$positive: #388e3c; // A deeper green for positive actions
$negative: #d32f2f; // A strong red for errors or warnings
$info: #0288d1; // A sky blue for informational messages
$warning: #fbc02d; // A yellow for warnings
